.content {
  padding: 0 3.2rem;
}

@media screen and (min-width: 968px) {
  .content {
    margin-left: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    margin-left: 316px;
  }
}
